Feedback.json
[{"id":"951b2d78.10cf9","type":"tab","label":"Feedback","disabled":false,"info":""},{"id":"53074ac3.49e324","type":"ui_text_input","z":"951b2d78.10cf9","name":"F-name","label":"First Name:","tooltip":"cc","group":"e52c7b81.86deb8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"f-name","x":220,"y":60,"wires":[["c9bb2100.b410c"]]},{"id":"9c1b1881.275e88","type":"ui_text","z":"951b2d78.10cf9","group":"e52c7b81.86deb8","order":3,"width":0,"height":0,"name":"","label":"Please provide your feedback on the quality of our service","format":"","layout":"row-left","x":350,"y":240,"wires":[]},{"id":"2daea5c6.3771aa","type":"ui_text_input","z":"951b2d78.10cf9","name":"L-name","label":"Last Name:","tooltip":"cc","group":"e52c7b81.86deb8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"L-name","x":400,"y":120,"wires":[["1a25fe1e.ba6072"]]},{"id":"dcc8b8db.1df1d8","type":"ui_form","z":"951b2d78.10cf9","name":"","label":"","group":"e52c7b81.86deb8","order":4,"width":0,"height":0,"options":[{"label":"Excellent","value":"tt","type":"checkbox","required":false,"rows":null},{"label":"Very Good","value":"ff","type":"checkbox","required":false,"rows":null},{"label":"Good","value":"pp","type":"checkbox","required":false,"rows":null},{"label":"Average","value":"ss","type":"checkbox","required":false,"rows":null},{"label":"poor","value":"gg","type":"checkbox","required":false,"rows":null},{"label":"Do you have suggestions on what we can do to provide you with a better service?","value":"jj","type":"multiline","required":false,"rows":6}],"formValue":{"tt":false,"ff":false,"pp":false,"ss":false,"gg":false,"jj":""},"payload":"","submit":"Submit ","cancel":"","topic":"","x":190,"y":380,"wires":[["94f17675.ad8fb8"]]},{"id":"7298d908.8ae058","type":"ui_text","z":"951b2d78.10cf9","group":"e52c7b81.86deb8","order":7,"width":12,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":550,"y":480,"wires":[]},{"id":"94f17675.ad8fb8","type":"function","z":"951b2d78.10cf9","name":"","func":"msg.payload=\"Response submitted!!\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["7298d908.8ae058","dd749676.5d1f88","308a6553.5fecea"]]},{"id":"dd749676.5d1f88","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":400,"wires":[]},{"id":"c9bb2100.b410c","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"1a25fe1e.ba6072","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":120,"wires":[]},{"id":"308a6553.5fecea","type":"ui_audio","z":"951b2d78.10cf9","name":"","group":"e52c7b81.86deb8","voice":"en-US","always":"","x":560,"y":520,"wires":[]},{"id":"e52c7b81.86deb8","type":"ui_group","z":"","name":"FeedBack Form","tab":"5a10b55e.e15cfc","order":1,"disp":true,"width":"22","collapse":false},{"id":"5a10b55e.e15cfc","type":"ui_tab","z":"","name":"Feedback","icon":"dashboard","order":6,"disabled":false,"hidden":false}]