GoYataYat.json
[{"id":"600d9ac2.baab84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fbfe3e5.1d130c","type":"tab","label":"Registration","disabled":false,"info":""},{"id":"dbbacbda.80f248","type":"tab","label":"Seat Allocation","disabled":false,"info":""},{"id":"71762c8c.074294","type":"tab","label":"Payment","disabled":false,"info":""},{"id":"8b7cf2f3.3413e","type":"tab","label":"Help Desk","disabled":false,"info":""},{"id":"951b2d78.10cf9","type":"tab","label":"Feedback","disabled":false,"info":""},{"id":"d86aa54.8759658","type":"tab","label":"About Us ","disabled":false,"info":""},{"id":"90e61c2e.f7ff4","type":"ui_group","z":"","name":"Login","tab":"cbf00de7.58bb3","order":1,"disp":true,"width":"9","collapse":false},{"id":"a858bff8.f10b4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#00aaff","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#19e6f0","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#cd4e18","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#19e6f0","edited":true},"page-titlebar-backgroundColor":{"value":"#19e6f0","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#61eef5","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#19e6f0","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"GOYATAYAT","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e8824db.473d9c","type":"ui_group","z":"","name":"About us","tab":"55fe4d8b.c19694","order":1,"disp":true,"width":27,"collapse":false},{"id":"3849d40.7536f2c","type":"ui_group","z":"","name":"Public Bus","tab":"276f946f.3cde3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7af3d7be.70bcd8","type":"ui_group","z":"","name":"Private-bus","tab":"276f946f.3cde3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab8ce4fe.8ad168","type":"ui_group","z":"","name":"Transportation","tab":"e6154d48.6d143","order":1,"disp":true,"width":"10","collapse":false},{"id":"72caf93f.ef9e28","type":"ui_group","z":"","name":"User details","tab":"d55ef5a.efd8508","order":1,"disp":true,"width":"9","collapse":false},{"id":"cb902007.dcab3","type":"ui_spacer","name":"spacer","group":"114bb04f.45bc4","order":2,"width":1,"height":1},{"id":"ce804f1f.a002d","type":"ui_group","z":"","name":"Mini-van","tab":"276f946f.3cde3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"e52c7b81.86deb8","type":"ui_group","z":"","name":"FeedBack Form","tab":"5a10b55e.e15cfc","order":1,"disp":true,"width":"22","collapse":false},{"id":"d8a81e25.f0415","type":"ui_group","z":"","name":"Payment section","tab":"68a77dc1.052a44","order":1,"disp":true,"width":"25","collapse":false},{"id":"14d0c982.a487e6","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"db9f4fbc.4cb9b","type":"ui_spacer","name":"spacer","group":"90e61c2e.f7ff4","order":2,"width":9,"height":1},{"id":"557d8863.f3a458","type":"ui_spacer","name":"spacer","group":"90e61c2e.f7ff4","order":3,"width":5,"height":1},{"id":"d6b55741.b9c548","type":"ui_spacer","name":"spacer","group":"ab8ce4fe.8ad168","order":2,"width":10,"height":1},{"id":"ca6ac2ee.3fc75","type":"ui_spacer","name":"spacer","group":"ab8ce4fe.8ad168","order":3,"width":4,"height":1},{"id":"19a6ea71.c9ae46","type":"ui_spacer","name":"spacer","group":"72caf93f.ef9e28","order":2,"width":5,"height":1},{"id":"4f74313f.efabc","type":"ui_spacer","name":"spacer","group":"d8a81e25.f0415","order":3,"width":19,"height":1},{"id":"7cd768dc.740118","type":"ui_spacer","name":"spacer","group":"e52c7b81.86deb8","order":5,"width":22,"height":1},{"id":"9682c606.c46ec8","type":"ui_spacer","name":"spacer","group":"e52c7b81.86deb8","order":6,"width":10,"height":1},{"id":"5343a46e.625ebc","type":"ui_group","z":"","name":"Seat Allocation - Public Bus","tab":"","order":4,"disp":true,"width":9,"collapse":false},{"id":"33cbfaa.f990106","type":"ui_group","z":"","name":"Seat Allocation - Private Bus","tab":"","order":5,"disp":true,"width":9,"collapse":false},{"id":"b21faeb8.c8eeb","type":"ui_group","z":"","name":"Seat Allocation - Mini-van","tab":"","order":6,"disp":true,"width":9,"collapse":false},{"id":"97b09b67.6e92d8","type":"ui_group","z":"","name":"Chatbot","tab":"b7fe5d6e.18898","order":1,"disp":true,"width":"12","collapse":false},{"id":"b7fe5d6e.18898","type":"ui_tab","z":"","name":"Travel bot","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"538f322c.2ef7ac","type":"ui_spacer","name":"spacer","group":"97b09b67.6e92d8","order":2,"width":12,"height":1},{"id":"d0f4a296.2e162","type":"ui_spacer","name":"spacer","group":"97b09b67.6e92d8","order":4,"width":12,"height":1},{"id":"cbf00de7.58bb3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6154d48.6d143","type":"ui_tab","z":"","name":"Vehicle Registration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d55ef5a.efd8508","type":"ui_tab","z":"","name":"Registration Details","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"68a77dc1.052a44","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"5a10b55e.e15cfc","type":"ui_tab","z":"","name":"Feedback","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"66a95763.8bad68","type":"ui_group","z":"","name":"prediction","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad1da979.d894b8","type":"ui_group","z":"","name":"prediction","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3da654df.e6b01c","type":"ui_group","z":"","name":"Chatbot","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f6fcf5b.a8729","type":"ui_group","z":"","name":"Chatbot","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"55fe4d8b.c19694","type":"ui_tab","z":"","name":"About Us","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"a1db8f0d.305da","type":"ui_spacer","name":"spacer","group":"","order":2,"width":5,"height":1},{"id":"ef6dc0b5.67bbe","type":"ui_spacer","name":"spacer","group":"b21faeb8.c8eeb","order":3,"width":9,"height":1},{"id":"2b4d9938.1649c6","type":"ui_group","z":"","name":"Vehicle selection","tab":"276f946f.3cde3c","order":4,"disp":true,"width":10,"collapse":false},{"id":"3b102398.9301ec","type":"ui_group","z":"","name":"Seat Allocation","tab":"276f946f.3cde3c","order":5,"disp":true,"width":10,"collapse":false},{"id":"276f946f.3cde3c","type":"ui_tab","z":"","name":"Seat Selection","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"aac48471.e774c8","type":"ui_spacer","name":"spacer","group":"2b4d9938.1649c6","order":2,"width":5,"height":1},{"id":"e522e166.8ddc6","type":"ui_spacer","name":"spacer","group":"3b102398.9301ec","order":3,"width":5,"height":1},{"id":"acbed7f0.940488","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"90e61c2e.f7ff4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"name","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","password":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":70,"y":140,"wires":[["8c37d627.f5f7b8"]]},{"id":"334859f0.2a4676","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"8c37d627.f5f7b8","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Login successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["334859f0.2a4676","2219af3b.aae52","55d1c32a.7465ec"]]},{"id":"2219af3b.aae52","type":"ui_text","z":"5fbfe3e5.1d130c","group":"90e61c2e.f7ff4","order":4,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":350,"y":200,"wires":[]},{"id":"57f7f3f4.5bc3ec","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"ab8ce4fe.8ad168","order":1,"width":0,"height":0,"options":[{"label":"Public Bus","value":"name","type":"checkbox","required":true,"rows":null},{"label":"Private Bus","value":"tick","type":"checkbox","required":true,"rows":null},{"label":"Mini van","value":"number","type":"checkbox","required":true,"rows":null}],"formValue":{"name":false,"tick":false,"number":false},"payload":"","submit":"submit","cancel":"reset","topic":"","x":550,"y":60,"wires":[["c5032de8.3e6a1"]]},{"id":"66f57026.cf36a","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":40,"wires":[]},{"id":"c5032de8.3e6a1","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Successfully Selected!!\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["a546080d.bac208","66f57026.cf36a","9137863d.a64618"]]},{"id":"a546080d.bac208","type":"ui_text","z":"5fbfe3e5.1d130c","group":"ab8ce4fe.8ad168","order":4,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":890,"y":160,"wires":[]},{"id":"96ffdded.de902","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"72caf93f.ef9e28","order":1,"width":0,"height":0,"options":[{"label":"First Name","value":"name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"hh","type":"text","required":true,"rows":null},{"label":"Address","value":"gg","type":"text","required":true,"rows":null},{"label":"Mobile Number","value":"number","type":"number","required":true,"rows":null},{"label":"E-mail","value":"mail","type":"email","required":true,"rows":null},{"label":"ID Proof","value":"fhg","type":"text","required":true,"rows":null},{"label":"From","value":"g","type":"text","required":true,"rows":null},{"label":"To","value":"t","type":"text","required":true,"rows":null},{"label":"Date of Travel","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","hh":"","gg":"","number":"","mail":"","fhg":"","g":"","t":"","date":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":150,"y":420,"wires":[["b0e779d6.b600b8"]]},{"id":"cd2bfdfd.5737c","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"b0e779d6.b600b8","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Registration Successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["cd2bfdfd.5737c","4974e86a.273028","4a0dd8f3.e99268"]]},{"id":"4974e86a.273028","type":"ui_text","z":"5fbfe3e5.1d130c","group":"72caf93f.ef9e28","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":470,"y":520,"wires":[]},{"id":"11744fd2.bdd11","type":"ui_template","z":"71762c8c.074294","group":"d8a81e25.f0415","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<link rel=\"stylesheet\" href=\"Style.css\">\n</head>\n<body>\n<h2>Responsive Checkout Form</h2>\n<div class=\"row\">\n  <div class=\"col-75\">\n    <div class=\"container\">\n      <form action=\"/action_page.php\">\n      \n        <div class=\"row\">\n          <div class=\"col-50\">\n            <h3>Billing Address</h3>\n            <label for=\"fname\"><i class=\"fa fa-user\"></i> Full Name</label>\n            <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"John M. Doe\">\n            <label for=\"email\"><i class=\"fa fa-envelope\"></i> Email</label>\n            <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"john@example.com\">\n            <label for=\"adr\"><i class=\"fa fa-address-card-o\"></i> Address</label>\n            <input type=\"text\" id=\"adr\" name=\"address\" placeholder=\"542 W. 15th Street\">\n            <label for=\"city\"><i class=\"fa fa-institution\"></i> City</label>\n            <input type=\"text\" id=\"city\" name=\"city\" placeholder=\"New York\">\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"state\">State</label>\n                <input type=\"text\" id=\"state\" name=\"state\" placeholder=\"NY\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"zip\">Zip</label>\n                <input type=\"text\" id=\"zip\" name=\"zip\" placeholder=\"10001\">\n              </div>\n            </div>\n          </div>\n          <div class=\"col-50\">\n            <h3>Payment</h3>\n            <label for=\"fname\">Accepted Cards</label>\n            <div class=\"icon-container\">\n              <i class=\"fa fa-cc-visa\" style=\"color:navy;\"></i>\n              <i class=\"fa fa-cc-amex\" style=\"color:blue;\"></i>\n              <i class=\"fa fa-cc-mastercard\" style=\"color:red;\"></i>\n              <i class=\"fa fa-cc-discover\" style=\"color:orange;\"></i>\n            </div>\n            <label for=\"cname\">Name on Card</label>\n            <input type=\"text\" id=\"cname\" name=\"cardname\" placeholder=\"John More Doe\">\n            <label for=\"ccnum\">Card number</label>\n            <input type=\"text\" id=\"ccnum\" name=\"cardnumber\" placeholder=\"1111-2222-3333-4444\">\n            <label for=\"expmonth\">Exp Month</label>\n            <input type=\"text\" id=\"expmonth\" name=\"expmonth\" placeholder=\"September\">\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"expyear\">Exp Year</label>\n                <input type=\"text\" id=\"expyear\" name=\"expyear\" placeholder=\"2018\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"cvv\">CVV</label>\n                <input type=\"text\" id=\"cvv\" name=\"cvv\" placeholder=\"352\">\n              </div>\n            </div>\n          </div>\n          \n        </div>\n      </form>\n    </div>\n  </div>\n  <div class=\"col-25\">\n    <div class=\"container\">\n      \n    </div>\n  </div>\n</div>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":200,"wires":[["6c6ffb18.dac304"]]},{"id":"f1385d52.80757","type":"debug","z":"71762c8c.074294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"6c6ffb18.dac304","type":"function","z":"71762c8c.074294","name":"","func":"msg.payload=\"Payment successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["f1385d52.80757","bd34a641.0968c8","da8a742.027b088","be45b718.8ad018"]]},{"id":"bd34a641.0968c8","type":"ui_text","z":"71762c8c.074294","group":"d8a81e25.f0415","order":4,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":690,"y":300,"wires":[]},{"id":"8f7d80bc.bded4","type":"ui_form","z":"71762c8c.074294","name":"","label":"","group":"d8a81e25.f0415","order":2,"width":0,"height":0,"options":[{"label":"I Agree","value":"ff","type":"checkbox","required":true,"rows":null}],"formValue":{"ff":false},"payload":"","submit":"Continue to checkout","cancel":"cancel","topic":"","x":250,"y":320,"wires":[["6c6ffb18.dac304"]]},{"id":"53074ac3.49e324","type":"ui_text_input","z":"951b2d78.10cf9","name":"F-name","label":"First Name:","tooltip":"cc","group":"e52c7b81.86deb8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"f-name","x":220,"y":60,"wires":[["c9bb2100.b410c"]]},{"id":"9c1b1881.275e88","type":"ui_text","z":"951b2d78.10cf9","group":"e52c7b81.86deb8","order":3,"width":0,"height":0,"name":"","label":"Please provide your feedback on the quality of our service","format":"","layout":"row-left","x":350,"y":240,"wires":[]},{"id":"2daea5c6.3771aa","type":"ui_text_input","z":"951b2d78.10cf9","name":"L-name","label":"Last Name:","tooltip":"cc","group":"e52c7b81.86deb8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"L-name","x":400,"y":120,"wires":[["1a25fe1e.ba6072"]]},{"id":"dcc8b8db.1df1d8","type":"ui_form","z":"951b2d78.10cf9","name":"","label":"","group":"e52c7b81.86deb8","order":4,"width":0,"height":0,"options":[{"label":"Excellent","value":"tt","type":"checkbox","required":false,"rows":null},{"label":"Very Good","value":"ff","type":"checkbox","required":false,"rows":null},{"label":"Good","value":"pp","type":"checkbox","required":false,"rows":null},{"label":"Average","value":"ss","type":"checkbox","required":false,"rows":null},{"label":"poor","value":"gg","type":"checkbox","required":false,"rows":null},{"label":"Do you have suggestions on what we can do to provide you with a better service?","value":"jj","type":"multiline","required":false,"rows":6}],"formValue":{"tt":false,"ff":false,"pp":false,"ss":false,"gg":false,"jj":""},"payload":"","submit":"Submit ","cancel":"","topic":"","x":190,"y":380,"wires":[["94f17675.ad8fb8"]]},{"id":"7298d908.8ae058","type":"ui_text","z":"951b2d78.10cf9","group":"e52c7b81.86deb8","order":7,"width":12,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":550,"y":480,"wires":[]},{"id":"94f17675.ad8fb8","type":"function","z":"951b2d78.10cf9","name":"","func":"msg.payload=\"Response submitted!!\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["7298d908.8ae058","dd749676.5d1f88","308a6553.5fecea"]]},{"id":"dd749676.5d1f88","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":400,"wires":[]},{"id":"c9bb2100.b410c","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"1a25fe1e.ba6072","type":"debug","z":"951b2d78.10cf9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":120,"wires":[]},{"id":"5e675d56.fffb14","type":"ui_template","z":"d86aa54.8759658","group":"7e8824db.473d9c","name":"","order":1,"width":0,"height":0,"format":"<p><span style=\"text-decoration: underline;\">GO YATAYAT APP</span></p>\n<p>Say GO YATAYAT to a better value rideshare. GO YATAYAT offers you the nicer, safer and fairer ways to book your rides. With more than 300,000 drivers &amp; taxis in 100+ cities, we have got you covered in India.</p>\n<p>Book your next ride in just a few taps.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>\n<p>● Enter the destination to check fares</p>\n<p>● See all available travel options near you</p>\n<p>● Pick your choice of ride</p>\n<p>● Get instant confirmation with ride details</p>\n<p>● Track your ride in real time</p>\n<p>&nbsp;</p>\n<p>All our vehicles come equipped with onboard GPS for route navigation. See all your available ride options in the app.</p>\n<p>&nbsp;</p>\n<p>Invoices will be mailed to you immediately after you&rsquo;ve completed your journey.</p>\n<p>&nbsp;</p>\n<p>More benefits of using&nbsp; GO YATAYAT APP:</p>\n<p><br /> ● Multiple ways to pay: Pay for your ride in via multiple cashless options like Debit card, UPI, credit cards, Net-banking etc</p>\n<p>● Know fares &amp; ride features: Check fares &amp; various features of a ride category before booking.</p>\n<p>● Travel with safety: Share your travel plan with family &amp; friends so they can track your vehicle &amp; know you are safe</p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>\n<p>During this pandemic period, a number of measures have been implemented to protect workers and passengers and avoid spreading the virus:</p>\n<ul>\n<li>Ensuring that all workers and passengers receive the latest and most accurate information about Covid-19, including ways to limit and avoid transmission.</li>\n<li>Providing staff in all occupational groups with adequate personal protective equipment (PPE) including gloves, masks, hand sanitising products and other appropriate materials.</li>\n<li>Regular deep cleaning and disinfection of public transport vehicles, workplaces, stations and assets coming into contact by users include ticketing devices, poles and seats.</li>\n<li>Making disinfectant dispensers accessible for workers and passengers.</li>\n<li>Limiting the interactions of drivers and other public transport workers with passengers (for example no cash ticket sales onboard, allowing rear-door boarding only, covering the drivers area with a plastic sheet, cancelling in-person ticket inspections, etc.) as well as limiting physical interaction between colleagues within the company in line with safe distancing standards.</li>\n<li>Maintaining high levels of service despite the reduction of travel demand to ensure safe distancing while keeping service continuity.</li>\n</ul>\n<p>&nbsp;</p>\n<p><span style=\"text-decoration: underline;\">CONTACT US:-</span></p>\n\n<p>Phone no: xxx-xxx-9999</p>\n<p><p>Mail Us:</p><a href=\"mailto:abc@gmail.com\"> abc@gmail.com</a></p></p>\n<p>address:- xyz/abc-xxxxxx</p>\n<p><span style=\"text-decoration: underline;\">&nbsp;</span></p>\n<p>&nbsp;</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":260,"wires":[["145daa6c.108e66","a8769ad0.955a78"]]},{"id":"a8769ad0.955a78","type":"debug","z":"d86aa54.8759658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":280,"wires":[]},{"id":"145daa6c.108e66","type":"ui_text","z":"d86aa54.8759658","group":"7e8824db.473d9c","order":1,"width":0,"height":0,"name":"","label":"","format":"Thank You for using GoYataYat service.","layout":"row-right","x":410,"y":360,"wires":[]},{"id":"308a6553.5fecea","type":"ui_audio","z":"951b2d78.10cf9","name":"","group":"e52c7b81.86deb8","voice":"en-US","always":"","x":560,"y":520,"wires":[]},{"id":"67a5bdce.423b94","type":"watson-conversation-v1","z":"8b7cf2f3.3413e","name":"Travel Bot","workspaceid":"a38980fa-747f-484e-8684-c781d5d21626","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7f8971bd-fbe5-4183-86c3-94c55353cec2","timeout":"","optout-learning":false,"x":450,"y":120,"wires":[["ca69aab7.f96558"]]},{"id":"7e9a6626.e589a8","type":"inject","z":"8b7cf2f3.3413e","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["67a5bdce.423b94"]]},{"id":"ef1263ec.6c56a","type":"debug","z":"8b7cf2f3.3413e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"ca69aab7.f96558","type":"function","z":"8b7cf2f3.3413e","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["ef1263ec.6c56a","19f595f8.1b1a6a","e4c5ff2e.5c51b"]]},{"id":"7b7608bc.a030c8","type":"ui_form","z":"8b7cf2f3.3413e","name":"","label":"","group":"97b09b67.6e92d8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["5dc3e9da.5a6298"]]},{"id":"5dc3e9da.5a6298","type":"function","z":"8b7cf2f3.3413e","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["67a5bdce.423b94","bfac8532.7341a8"]]},{"id":"bfac8532.7341a8","type":"ui_text","z":"8b7cf2f3.3413e","group":"97b09b67.6e92d8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"19f595f8.1b1a6a","type":"ui_text","z":"8b7cf2f3.3413e","group":"97b09b67.6e92d8","order":5,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"e4c5ff2e.5c51b","type":"ui_audio","z":"8b7cf2f3.3413e","name":"","group":"97b09b67.6e92d8","voice":"en-GB","always":"","x":800,"y":300,"wires":[]},{"id":"55d1c32a.7465ec","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"90e61c2e.f7ff4","voice":"en-GB","always":"","x":380,"y":260,"wires":[]},{"id":"9137863d.a64618","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"ab8ce4fe.8ad168","voice":"en-GB","always":"","x":940,"y":260,"wires":[]},{"id":"4a0dd8f3.e99268","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"72caf93f.ef9e28","voice":"en-US","always":"","x":460,"y":620,"wires":[]},{"id":"da8a742.027b088","type":"ui_audio","z":"71762c8c.074294","name":"","group":"d8a81e25.f0415","voice":"en-GB","always":"","x":680,"y":380,"wires":[]},{"id":"be45b718.8ad018","type":"ui_toast","z":"71762c8c.074294","position":"bottom right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":680,"y":480,"wires":[]},{"id":"ba55174c.9b07e8","type":"ui_button","z":"dbbacbda.80f248","name":"","group":"3849d40.7536f2c","order":1,"width":0,"height":0,"passthru":true,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"51","payloadType":"num","topic":"","x":200,"y":200,"wires":[["2fca0366.b1d3dc"]]},{"id":"2fca0366.b1d3dc","type":"ui_gauge","z":"dbbacbda.80f248","name":"","group":"3849d40.7536f2c","order":2,"width":6,"height":5,"gtype":"wave","title":"Public-bus","label":"seats","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":200,"wires":[]},{"id":"53fe858d.6fb83c","type":"ui_button","z":"dbbacbda.80f248","name":"","group":"7af3d7be.70bcd8","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"62","payloadType":"str","topic":"","x":200,"y":300,"wires":[["6d838424.00f5fc"]]},{"id":"6d838424.00f5fc","type":"ui_gauge","z":"dbbacbda.80f248","name":"","group":"7af3d7be.70bcd8","order":2,"width":0,"height":0,"gtype":"wave","title":"Private-bus","label":"seats","format":"seats","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":300,"wires":[]},{"id":"a3c52b3b.cca638","type":"ui_button","z":"dbbacbda.80f248","name":"","group":"ce804f1f.a002d","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":200,"y":380,"wires":[["bfb0a0e4.2d214"]]},{"id":"bfb0a0e4.2d214","type":"ui_gauge","z":"dbbacbda.80f248","name":"","group":"ce804f1f.a002d","order":2,"width":0,"height":0,"gtype":"wave","title":"Mini-van","label":"seats","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":380,"wires":[]},{"id":"e2763ffc.24fe2","type":"ui_form","z":"dbbacbda.80f248","name":"","label":"Transport Selection","group":"2b4d9938.1649c6","order":1,"width":0,"height":0,"options":[{"label":"public bus","value":"hgvb","type":"checkbox","required":true,"rows":null},{"label":"private bus","value":"sd","type":"checkbox","required":true,"rows":null},{"label":"mini-van","value":"sdf","type":"checkbox","required":true,"rows":null},{"label":"date","value":"dd","type":"date","required":true,"rows":null}],"formValue":{"hgvb":false,"sd":false,"sdf":false,"dd":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":170,"y":540,"wires":[["3172ceed.189bf2"]]},{"id":"a521d5f2.29a688","type":"ui_text","z":"dbbacbda.80f248","group":"2b4d9938.1649c6","order":3,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":490,"y":620,"wires":[]},{"id":"3172ceed.189bf2","type":"function","z":"dbbacbda.80f248","name":"","func":"msg.payload=\"Vehicle is selected!!\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["a521d5f2.29a688","43d525af.c913fc","56881574.3c6ecc"]]},{"id":"43d525af.c913fc","type":"debug","z":"dbbacbda.80f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"d9060557.6aa898","type":"ui_template","z":"dbbacbda.80f248","group":"3b102398.9301ec","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<p>Seat Picker</p> \n\n<button onclick=\"myFunction()\">Book seat number</button>\n\n<p id=\"demo\"></p>\n\n<script>\nfunction myFunction() {\n  var ele = document.getElementById(\"demo\");\n  var number = Math.floor((Math.random() * 100) + 1);\n  ele.innerHTML = number\n\n  if (number%2==0) {\n    alert(\"Even Number\");\n  }\n  else {\n    alert(\"Odd Number\");\n  }\n}\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":780,"wires":[["b4b6724.24c999"]]},{"id":"b4b6724.24c999","type":"ui_button","z":"dbbacbda.80f248","name":"","group":"3b102398.9301ec","order":2,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Given seat number has been alloted!!","payloadType":"str","topic":"","x":450,"y":800,"wires":[["e53dae6e.fc0cc","95e0c992.92a9b8","a7cb7c9.099648"]]},{"id":"e53dae6e.fc0cc","type":"ui_text","z":"dbbacbda.80f248","group":"3b102398.9301ec","order":4,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":610,"y":900,"wires":[]},{"id":"a7cb7c9.099648","type":"ui_audio","z":"dbbacbda.80f248","name":"","group":"3b102398.9301ec","voice":"en-GB","always":"","x":540,"y":960,"wires":[]},{"id":"56881574.3c6ecc","type":"ui_audio","z":"dbbacbda.80f248","name":"","group":"2b4d9938.1649c6","voice":"en-GB","always":"","x":500,"y":680,"wires":[]},{"id":"95e0c992.92a9b8","type":"debug","z":"dbbacbda.80f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":840,"wires":[]}]