GoYatYat.json
[{"id":"11d3d280.4b3cce","type":"tab","label":"Registration","disabled":false,"info":""},{"id":"fb6e9671.114338","type":"tab","label":"Seat Allocation","disabled":false,"info":""},{"id":"705ccd0f.898934","type":"tab","label":"Payment","disabled":false,"info":""},{"id":"f0d7a75f.2814b8","type":"tab","label":"Help Desk","disabled":false,"info":""},{"id":"f09ff50f.773398","type":"tab","label":"Feedback","disabled":false,"info":""},{"id":"ece12be2.4edce8","type":"tab","label":"About Us ","disabled":false,"info":""},{"id":"90e61c2e.f7ff4","type":"ui_group","z":"","name":"Login","tab":"cbf00de7.58bb3","order":3,"disp":true,"width":"8","collapse":false},{"id":"a858bff8.f10b4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#cc1400","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#19e6f0","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#cd4e18","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#61eef5","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#19e6f0","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"                           GOYATAYAT","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e8824db.473d9c","type":"ui_group","z":"","name":"About us","tab":"55fe4d8b.c19694","order":1,"disp":true,"width":27,"collapse":false},{"id":"3849d40.7536f2c","type":"ui_group","z":"","name":"Public Bus","tab":"276f946f.3cde3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7af3d7be.70bcd8","type":"ui_group","z":"","name":"Private-bus","tab":"276f946f.3cde3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"72caf93f.ef9e28","type":"ui_group","z":"","name":"Sign-up","tab":"cbf00de7.58bb3","order":1,"disp":true,"width":"8","collapse":false},{"id":"cb902007.dcab3","type":"ui_spacer","name":"spacer","group":"114bb04f.45bc4","order":2,"width":1,"height":1},{"id":"ce804f1f.a002d","type":"ui_group","z":"","name":"Mini-van","tab":"276f946f.3cde3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"e52c7b81.86deb8","type":"ui_group","z":"","name":"","tab":"cbf00de7.58bb3","order":2,"disp":true,"width":2,"collapse":false},{"id":"14d0c982.a487e6","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"d6b55741.b9c548","type":"ui_spacer","name":"spacer","group":"","order":2,"width":10,"height":1},{"id":"ca6ac2ee.3fc75","type":"ui_spacer","name":"spacer","group":"","order":3,"width":4,"height":1},{"id":"4f74313f.efabc","type":"ui_spacer","name":"spacer","group":"","order":3,"width":19,"height":1},{"id":"5343a46e.625ebc","type":"ui_group","z":"","name":"Seat Allocation - Public Bus","tab":"","order":4,"disp":true,"width":9,"collapse":false},{"id":"33cbfaa.f990106","type":"ui_group","z":"","name":"Seat Allocation - Private Bus","tab":"","order":5,"disp":true,"width":9,"collapse":false},{"id":"b21faeb8.c8eeb","type":"ui_group","z":"","name":"Seat Allocation - Mini-van","tab":"","order":6,"disp":true,"width":9,"collapse":false},{"id":"97b09b67.6e92d8","type":"ui_group","z":"","name":"Chatbot","tab":"b7fe5d6e.18898","order":1,"disp":true,"width":9,"collapse":false},{"id":"b7fe5d6e.18898","type":"ui_tab","z":"","name":"Travel bot","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"cbf00de7.58bb3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6154d48.6d143","type":"ui_tab","z":"","name":"Vehicle Selection","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"66a95763.8bad68","type":"ui_group","z":"","name":"Vehicle Selection","tab":"e6154d48.6d143","order":1,"disp":true,"width":"10","collapse":false},{"id":"3da654df.e6b01c","type":"ui_group","z":"","name":"","tab":"55fe4d8b.c19694","order":1,"disp":false,"width":"6","collapse":false},{"id":"4f6fcf5b.a8729","type":"ui_group","z":"","name":"","tab":"cbf00de7.58bb3","order":4,"disp":false,"width":1,"collapse":false},{"id":"55fe4d8b.c19694","type":"ui_tab","z":"","name":"About Us","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"a1db8f0d.305da","type":"ui_spacer","name":"spacer","group":"","order":2,"width":5,"height":1},{"id":"ef6dc0b5.67bbe","type":"ui_spacer","name":"spacer","group":"b21faeb8.c8eeb","order":3,"width":9,"height":1},{"id":"3b102398.9301ec","type":"ui_group","z":"","name":"Seat Allocation","tab":"276f946f.3cde3c","order":5,"disp":true,"width":18,"collapse":false},{"id":"276f946f.3cde3c","type":"ui_tab","z":"","name":"Seat Selection","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"aac48471.e774c8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":5,"height":1},{"id":"dadc2d10.a47ed","type":"ui_group","z":"","name":"","tab":"e6154d48.6d143","order":1,"disp":false,"width":1,"collapse":false},{"id":"9561f039.e4e4","type":"ui_group","z":"","name":"","tab":"276f946f.3cde3c","order":4,"disp":false,"width":1,"collapse":false},{"id":"992d151d.853c68","type":"ui_group","z":"","name":"","tab":"c975baf5.cfdec8","order":1,"disp":false,"width":1,"collapse":false},{"id":"89ab4d8a.84107","type":"ui_group","z":"","name":"","tab":"b7fe5d6e.18898","order":1,"disp":false,"width":1,"collapse":false},{"id":"746cf362.ce78cc","type":"ui_group","z":"","name":"Payment","tab":"c975baf5.cfdec8","order":1,"disp":true,"width":6,"collapse":false},{"id":"c076d003.3cc53","type":"ui_group","z":"","name":"","tab":"fa89ac83.58ff9","order":2,"disp":false,"width":1,"collapse":false},{"id":"67ef5139.8270f","type":"ui_group","z":"","name":"","tab":"","order":2,"disp":true,"width":"8"},{"id":"c975baf5.cfdec8","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2067df2a.9b3ba","type":"ui_group","z":"","name":"Feedback","tab":"fa89ac83.58ff9","order":1,"disp":true,"width":7,"collapse":false},{"id":"fa89ac83.58ff9","type":"ui_tab","z":"","name":"Feedback","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"5d2aa476.a21dcc","type":"ui_spacer","name":"spacer","group":"c6a42a7b.448d38","order":1,"width":6,"height":1},{"id":"e055c1d.045364","type":"ui_spacer","name":"spacer","group":"c6a42a7b.448d38","order":2,"width":6,"height":1},{"id":"492d6e7e.ff63","type":"ui_group","z":"","name":"","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"b0d4bc9c.bb19d","type":"ui_group","z":"","name":"G2","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"5bfa3a3e.2b2494","type":"ui_spacer","name":"spacer","group":"66a95763.8bad68","order":6,"width":10,"height":1},{"id":"f1cf6096.ff2f3","type":"ui_spacer","name":"spacer","group":"66a95763.8bad68","order":10,"width":10,"height":1},{"id":"3e84a83f.6377b8","type":"ui_spacer","name":"spacer","group":"3b102398.9301ec","order":3,"width":11,"height":1},{"id":"1c1e7940.5e90a7","type":"ui_spacer","name":"spacer","group":"72caf93f.ef9e28","order":2,"width":4,"height":1},{"id":"54c70969.93afc8","type":"ui_spacer","name":"spacer","group":"90e61c2e.f7ff4","order":2,"width":4,"height":1},{"id":"96e6272e.c1bc98","type":"ui_form","z":"11d3d280.4b3cce","name":"","label":"","group":"90e61c2e.f7ff4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"name","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null},{"label":"Remember me","value":"fd","type":"checkbox","required":false,"rows":null}],"formValue":{"name":"","password":"","fd":false},"payload":"","submit":"submit","cancel":"","topic":"","x":70,"y":120,"wires":[["3bd8705b.d462a"]]},{"id":"80b641f5.e229f","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"3bd8705b.d462a","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"Login successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["80b641f5.e229f","88d74a67.e97598","97aee88b.56a7c8"]]},{"id":"88d74a67.e97598","type":"ui_text","z":"11d3d280.4b3cce","group":"90e61c2e.f7ff4","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":350,"y":200,"wires":[]},{"id":"bdfef8e9.b2f648","type":"ui_form","z":"11d3d280.4b3cce","name":"","label":"","group":"72caf93f.ef9e28","order":1,"width":0,"height":0,"options":[{"label":"First Name","value":"name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"hh","type":"text","required":true,"rows":null},{"label":"Your mail","value":"dd","type":"email","required":true,"rows":null},{"label":"Phone no.","value":"fddsf","type":"number","required":true,"rows":null},{"label":"Password ","value":"dsf","type":"password","required":true,"rows":null},{"label":"Confirm Password","value":"dsfsgdf","type":"password","required":true,"rows":null}],"formValue":{"name":"","hh":"","dd":"","fddsf":"","dsf":"","dsfsgdf":""},"payload":"","submit":"Create Account","cancel":"","topic":"","x":110,"y":420,"wires":[["7e2de663.b3ec78"]]},{"id":"f24a345c.c50168","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":400,"wires":[]},{"id":"7e2de663.b3ec78","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"User Registration Successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["f24a345c.c50168","eb1e44cf.088368","4dbb0006.bae63"]]},{"id":"eb1e44cf.088368","type":"ui_text","z":"11d3d280.4b3cce","group":"72caf93f.ef9e28","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":410,"y":480,"wires":[]},{"id":"a75ea22f.953ba","type":"ui_template","z":"ece12be2.4edce8","group":"7e8824db.473d9c","name":"","order":1,"width":0,"height":0,"format":"<p><span style=\"text-decoration: underline;\">GO YATAYAT APP</span></p>\n<p>Say GO YATAYAT to a better value rideshare. GO YATAYAT offers you the nicer, safer and fairer ways to book your rides. With more than 300,000 drivers &amp; taxis in 100+ cities, we have got you covered in India.</p>\n<p>Book your next ride in just a few taps.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>\n<p>● Enter the destination to check fares</p>\n<p>● See all available travel options near you</p>\n<p>● Pick your choice of ride</p>\n<p>● Get instant confirmation with ride details</p>\n<p>● Track your ride in real time</p>\n<p>&nbsp;</p>\n<p>All our vehicles come equipped with onboard GPS for route navigation. See all your available ride options in the app.</p>\n<p>&nbsp;</p>\n<p>Invoices will be mailed to you immediately after you&rsquo;ve completed your journey.</p>\n<p>&nbsp;</p>\n<p>More benefits of using&nbsp; GO YATAYAT APP:</p>\n<p><br /> ● Multiple ways to pay: Pay for your ride in via multiple cashless options like Debit card, UPI, credit cards, Net-banking etc</p>\n<p>● Know fares &amp; ride features: Check fares &amp; various features of a ride category before booking.</p>\n<p>● Travel with safety: Share your travel plan with family &amp; friends so they can track your vehicle &amp; know you are safe</p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>\n<p>During this pandemic period, a number of measures have been implemented to protect workers and passengers and avoid spreading the virus:</p>\n<ul>\n<li>Ensuring that all workers and passengers receive the latest and most accurate information about Covid-19, including ways to limit and avoid transmission.</li>\n<li>Providing staff in all occupational groups with adequate personal protective equipment (PPE) including gloves, masks, hand sanitising products and other appropriate materials.</li>\n<li>Regular deep cleaning and disinfection of public transport vehicles, workplaces, stations and assets coming into contact by users include ticketing devices, poles and seats.</li>\n<li>Making disinfectant dispensers accessible for workers and passengers.</li>\n<li>Limiting the interactions of drivers and other public transport workers with passengers (for example no cash ticket sales onboard, allowing rear-door boarding only, covering the drivers area with a plastic sheet, cancelling in-person ticket inspections, etc.) as well as limiting physical interaction between colleagues within the company in line with safe distancing standards.</li>\n<li>Maintaining high levels of service despite the reduction of travel demand to ensure safe distancing while keeping service continuity.</li>\n</ul>\n<p>&nbsp;</p>\n<p><span style=\"text-decoration: underline;\">CONTACT US:-</span></p>\n\n<p>Phone no: xxx-xxx-9999</p>\n<p><p>Mail Us:</p><a href=\"mailto:abc@gmail.com\"> abc@gmail.com</a></p></p>\n<p>address:- xyz/abc-xxxxxx</p>\n<p><span style=\"text-decoration: underline;\">&nbsp;</span></p>\n<p>&nbsp;</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":260,"wires":[["a9732362.b7521","bf1defde.bebd2"]]},{"id":"bf1defde.bebd2","type":"debug","z":"ece12be2.4edce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":280,"wires":[]},{"id":"a9732362.b7521","type":"ui_text","z":"ece12be2.4edce8","group":"7e8824db.473d9c","order":2,"width":0,"height":0,"name":"","label":"","format":"Thank You for using GoYataYat service.","layout":"row-right","x":410,"y":360,"wires":[]},{"id":"d75e0844.23cbd8","type":"watson-conversation-v1","z":"f0d7a75f.2814b8","name":"Travel Bot","workspaceid":"a38980fa-747f-484e-8684-c781d5d21626","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7f8971bd-fbe5-4183-86c3-94c55353cec2","timeout":"","optout-learning":false,"x":450,"y":120,"wires":[["a2892fa9.6a851"]]},{"id":"fc6536e9.db1758","type":"inject","z":"f0d7a75f.2814b8","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["d75e0844.23cbd8"]]},{"id":"8a6aa543.18b1e8","type":"debug","z":"f0d7a75f.2814b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"a2892fa9.6a851","type":"function","z":"f0d7a75f.2814b8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["8a6aa543.18b1e8","204f0138.df986e","f296abb0.31da38"]]},{"id":"65e8de9a.b0977","type":"ui_form","z":"f0d7a75f.2814b8","name":"","label":"","group":"97b09b67.6e92d8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["b17b28ec.83f9b8"]]},{"id":"b17b28ec.83f9b8","type":"function","z":"f0d7a75f.2814b8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["d75e0844.23cbd8","acb87bd.a56bc88"]]},{"id":"acb87bd.a56bc88","type":"ui_text","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"204f0138.df986e","type":"ui_text","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"f296abb0.31da38","type":"ui_audio","z":"f0d7a75f.2814b8","name":"","group":"97b09b67.6e92d8","voice":"en-GB","always":"","x":800,"y":300,"wires":[]},{"id":"97aee88b.56a7c8","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"90e61c2e.f7ff4","voice":"en-GB","always":"","x":380,"y":260,"wires":[]},{"id":"4dbb0006.bae63","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"72caf93f.ef9e28","voice":"en-US","always":"","x":400,"y":560,"wires":[]},{"id":"83581af7.4925d8","type":"ui_button","z":"fb6e9671.114338","name":"","group":"3849d40.7536f2c","order":1,"width":0,"height":0,"passthru":true,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"31","payloadType":"num","topic":"","x":180,"y":80,"wires":[["a1067bd5.2f2d38"]]},{"id":"a1067bd5.2f2d38","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"3849d40.7536f2c","order":2,"width":6,"height":4,"gtype":"gage","title":"Public-bus","label":"","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#00e622","#e04815"],"seg1":"","seg2":"","x":470,"y":80,"wires":[]},{"id":"b2af5122.2f92b","type":"ui_button","z":"fb6e9671.114338","name":"","group":"7af3d7be.70bcd8","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"36","payloadType":"str","topic":"","x":800,"y":120,"wires":[["4b0c72b1.ff96fc"]]},{"id":"4b0c72b1.ff96fc","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"7af3d7be.70bcd8","order":2,"width":0,"height":0,"gtype":"gage","title":"Private-bus","label":"","format":"{{value}}","min":0,"max":"59","colors":["#00b500","#e2e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":160,"wires":[]},{"id":"5fbdf54c.dd963c","type":"ui_button","z":"fb6e9671.114338","name":"","group":"ce804f1f.a002d","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"num","topic":"","x":200,"y":200,"wires":[["34ae430.f3884be"]]},{"id":"34ae430.f3884be","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"ce804f1f.a002d","order":2,"width":0,"height":0,"gtype":"gage","title":"Mini-van","label":"","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#a30f0f","#3a57cb"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"30103d32.bb3322","type":"ui_template","z":"fb6e9671.114338","group":"3b102398.9301ec","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<p>Seat Picker</p> \n\n<button onclick=\"myFunction()\">Book seat number</button>\n\n<p id=\"demo\"></p>\n\n<script>\nfunction myFunction() {\n  var ele = document.getElementById(\"demo\");\n  var number = Math.floor((Math.random() * 100) + 1);\n  ele.innerHTML = number\n\n  if (number%2==0) {\n    alert(\"Even Number\");\n  }\n  else {\n    alert(\"Odd Number\");\n  }\n}\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":360,"y":340,"wires":[["9a61b7e4.0a59f8"]]},{"id":"9a61b7e4.0a59f8","type":"ui_button","z":"fb6e9671.114338","name":"","group":"3b102398.9301ec","order":2,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Given seat number has been alloted!!","payloadType":"str","topic":"","x":580,"y":360,"wires":[["8374e652.86fe48","b71d4169.73848","a9016360.7f7b9"]]},{"id":"8374e652.86fe48","type":"ui_text","z":"fb6e9671.114338","group":"3b102398.9301ec","order":4,"width":7,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":890,"y":400,"wires":[]},{"id":"a9016360.7f7b9","type":"ui_audio","z":"fb6e9671.114338","name":"","group":"3b102398.9301ec","voice":"en-GB","always":"","x":860,"y":480,"wires":[]},{"id":"b71d4169.73848","type":"debug","z":"fb6e9671.114338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":320,"wires":[]},{"id":"35eeb4c7.e4696c","type":"ui_text_input","z":"11d3d280.4b3cce","name":"Source","label":"Enter Source","tooltip":"","group":"66a95763.8bad68","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":600,"y":80,"wires":[["d1c01d3e.e43b4"]]},{"id":"108861b4.7764ee","type":"ui_text_input","z":"11d3d280.4b3cce","name":"destination","label":"Enter Destination","tooltip":"","group":"66a95763.8bad68","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":610,"y":200,"wires":[["d1c01d3e.e43b4"]]},{"id":"71af7f00.2161c","type":"ui_date_picker","z":"11d3d280.4b3cce","name":"date","label":"date","group":"66a95763.8bad68","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":610,"y":280,"wires":[["d1c01d3e.e43b4"]]},{"id":"d1c01d3e.e43b4","type":"ui_button","z":"11d3d280.4b3cce","name":"","group":"66a95763.8bad68","order":14,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"Yellow","bgcolor":"black","icon":"","payload":"78","payloadType":"num","topic":"","x":900,"y":220,"wires":[["be2723d6.c0887"]]},{"id":"529d65ec.af30bc","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City bus-151","value":"fd","type":"str"},{"label":"City bus-173","value":"fgf","type":"str"},{"label":"City bus-1075","value":"dhgj","type":"str"},{"label":"City bus-163","value":"gjg","type":"str"}],"payload":"","topic":"","x":610,"y":360,"wires":[["d1c01d3e.e43b4"]]},{"id":"be2723d6.c0887","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"Selection successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":260,"wires":[["d9c8ea3a.d31908","e2f60b0a.50ec38","ebaa46ff.7120e8"]]},{"id":"d9c8ea3a.d31908","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":15,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":1250,"y":320,"wires":[]},{"id":"e2f60b0a.50ec38","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":120,"wires":[]},{"id":"ebaa46ff.7120e8","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"66a95763.8bad68","voice":"en-GB","always":"","x":1240,"y":440,"wires":[]},{"id":"853371f8.c54a8","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":4,"width":0,"height":0,"name":"","label":"Public Bus","format":"","layout":"row-left","x":650,"y":460,"wires":[]},{"id":"afcd409b.7c51","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":8,"width":0,"height":0,"name":"","label":"Private Bus","format":"","layout":"row-left","x":650,"y":520,"wires":[]},{"id":"590a993c.ea7388","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":12,"width":0,"height":0,"name":"","label":"Mini-Van","format":"","layout":"row-left","x":660,"y":600,"wires":[]},{"id":"cb20297b.07ace8","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Compass Bus","value":"gfg","type":"str"},{"label":"Evergreen Escapes","value":"dfgdg","type":"str"},{"label":"Journey Lines","value":"gdghd","type":"str"}],"payload":"","topic":"","x":890,"y":460,"wires":[["d1c01d3e.e43b4"]]},{"id":"78a1dbe7.e7d804","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":13,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Hyundai","value":"fghfg","type":"str"},{"label":"Omni ","value":"fdfd","type":"str"},{"label":"Kia","value":"htght","type":"str"}],"payload":"","topic":"","x":890,"y":540,"wires":[["d1c01d3e.e43b4"]]},{"id":"863d5ec3.d61ff","type":"ui_template","z":"705ccd0f.898934","group":"746cf362.ce78cc","name":"my button","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            .button {\n                background-color: #086A87;\n                border: none;\n                color: white;\n                padding: 16px 32px;\n                text-align: center;\n                text-decoration: none;\n                font-size: 16px;\n                margin: 3px 1px;\n                cursor: pointer;\n                border-radius: 4px;\n            }\n            .button_over:hover {\n                background-color: #187A97;\n                color: white;\n            }\n        </style>\n    </head>\n    <body>\n        <a href=\"http://lokeshsingh2.website2.me/\" class=\"button button_over\">Payment</a>\n    </body>\n </html>\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":160,"wires":[["5750edc5.874614"]]},{"id":"1a8e2afc.8f9d75","type":"ui_template","z":"705ccd0f.898934","group":"746cf362.ce78cc","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n <iframe width=\"300\" height=\"290\"\nsrc=\"https://www.pinakindigital.com/wp-content/uploads/2019/08/bayan_pay_banner_img_1-e1565335393816-300x287.png\">\n</iframe> \n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":420,"y":260,"wires":[["5750edc5.874614"]]},{"id":"5750edc5.874614","type":"debug","z":"705ccd0f.898934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":220,"wires":[]},{"id":"2013de84.9b3ce2","type":"ui_template","z":"f09ff50f.773398","group":"2067df2a.9b3ba","name":"my button","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            .button {\n                background-color: #086A87;\n                border: none;\n                color: white;\n                padding: 16px 32px;\n                text-align: center;\n                text-decoration: none;\n                font-size: 16px;\n                margin: 3px 1px;\n                cursor: pointer;\n                border-radius: 4px;\n            }\n            .button_over:hover {\n                background-color: #187A97;\n                color: white;\n            }\n        </style>\n    </head>\n    <body>\n        <a href=\"https://form.jotform.com/201830931884054\" class=\"button button_over\">Feedback Form</a>\n    </body>\n </html>\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":180,"wires":[["c3963fca.dab26"]]},{"id":"4694da50.eb4074","type":"ui_template","z":"f09ff50f.773398","group":"2067df2a.9b3ba","name":"my site","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n <iframe width=\"325\" height=\"280\"\nsrc=\"https://www.brandcrowd.com/gallery/brands/pictures/picture14864025144145.png\">\n</iframe> \n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":422,"y":288,"wires":[["c3963fca.dab26"]]},{"id":"c3963fca.dab26","type":"debug","z":"f09ff50f.773398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":260,"wires":[]},{"id":"372665a.8f0f59a","type":"ui_text","z":"11d3d280.4b3cce","group":"e52c7b81.86deb8","order":1,"width":0,"height":0,"name":"","label":"OR","format":"","layout":"col-center","x":110,"y":300,"wires":[]},{"id":"c9e7b5e9.831978","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":7,"width":0,"height":0,"name":"","label":"OR","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":580,"wires":[]},{"id":"1c1b5abd.fd7405","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":11,"width":0,"height":0,"name":"","label":"Or","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":620,"wires":[]},{"id":"f1291565.7fd5e8","type":"ui_template","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","name":"image","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n <iframe width=\"450\" height=\"450\"\nsrc=\"https://us.123rf.com/450wm/kahovsky/kahovsky1712/kahovsky171200043/91317699-stock-vector-cute-smiling-funny-robot-chat-bot-in-speech-bubble-vector-modern-flat-cartoon-character-illustration.jpg?ver=6\">\n</iframe> \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":200,"wires":[["8a6aa543.18b1e8"]]},{"id":"a23a21f8.3c0cd","type":"ui_template","z":"11d3d280.4b3cce","group":"4f6fcf5b.a8729","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://images.unsplash.com/photo-1520105072000-f44fc083e508?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":640,"wires":[["8fc8e21e.d43a5"]]},{"id":"4d2973e4.2f54bc","type":"ui_template","z":"11d3d280.4b3cce","group":"dadc2d10.a47ed","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://i.pinimg.com/originals/66/6e/01/666e011d44d894787020abb64e441118.jpg\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":660,"wires":[["5317699f.864278"]]},{"id":"13b36970.dda227","type":"ui_template","z":"fb6e9671.114338","group":"9561f039.e4e4","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://miro.medium.com/max/1804/0*Y_uqYGceuDNK5I7j.\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":500,"wires":[["5239a92b.1073d8"]]},{"id":"8fc8e21e.d43a5","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":780,"wires":[]},{"id":"5317699f.864278","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"5239a92b.1073d8","type":"debug","z":"fb6e9671.114338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":540,"wires":[]},{"id":"febf5685.3dded8","type":"ui_template","z":"705ccd0f.898934","group":"992d151d.853c68","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://75d03c5f1bfbbbb9cc13-369a671ebb934b49b239e372822005c5.ssl.cf1.rackcdn.com/visa-on-future-payment-card-security-showcase_image-7-w-413.jpg\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":380,"wires":[["d3da877c.3f83b8"]]},{"id":"d3da877c.3f83b8","type":"debug","z":"705ccd0f.898934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":420,"wires":[]},{"id":"8c75d49d.37da18","type":"ui_template","z":"f0d7a75f.2814b8","group":"89ab4d8a.84107","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://blog.hyperfish.com/hubfs/Types%20of%20Bots.png\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":480,"wires":[["942c54a0.7bb5d8"]]},{"id":"942c54a0.7bb5d8","type":"debug","z":"f0d7a75f.2814b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":520,"wires":[]},{"id":"f5f566a8.65afa8","type":"ui_template","z":"f09ff50f.773398","group":"c076d003.3cc53","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://lakhanipilgrimage.com/img/slide-general.jpg\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":460,"wires":[["a793cfe.166db3"]]},{"id":"a793cfe.166db3","type":"debug","z":"f09ff50f.773398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":480,"wires":[]},{"id":"de89dc83.2eb5d","type":"ui_template","z":"ece12be2.4edce8","group":"3da654df.e6b01c","name":"","order":0,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://theridgeatchukkercrsc.pilera.com/templates/frosted_curves/skins/aquaAspen/images/skin_background.jpg\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":520,"wires":[["189de9c8.8048e6"]]},{"id":"189de9c8.8048e6","type":"debug","z":"ece12be2.4edce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":560,"wires":[]}]