Help Desk.json
[{"id":"8b7cf2f3.3413e","type":"tab","label":"Help Desk","disabled":false,"info":""},{"id":"67a5bdce.423b94","type":"watson-conversation-v1","z":"8b7cf2f3.3413e","name":"Travel Bot","workspaceid":"a38980fa-747f-484e-8684-c781d5d21626","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7f8971bd-fbe5-4183-86c3-94c55353cec2","timeout":"","optout-learning":false,"x":450,"y":120,"wires":[["ca69aab7.f96558"]]},{"id":"7e9a6626.e589a8","type":"inject","z":"8b7cf2f3.3413e","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["67a5bdce.423b94"]]},{"id":"ef1263ec.6c56a","type":"debug","z":"8b7cf2f3.3413e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"ca69aab7.f96558","type":"function","z":"8b7cf2f3.3413e","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["ef1263ec.6c56a","19f595f8.1b1a6a","e4c5ff2e.5c51b"]]},{"id":"7b7608bc.a030c8","type":"ui_form","z":"8b7cf2f3.3413e","name":"","label":"","group":"97b09b67.6e92d8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["5dc3e9da.5a6298"]]},{"id":"5dc3e9da.5a6298","type":"function","z":"8b7cf2f3.3413e","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["67a5bdce.423b94","bfac8532.7341a8"]]},{"id":"bfac8532.7341a8","type":"ui_text","z":"8b7cf2f3.3413e","group":"97b09b67.6e92d8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"19f595f8.1b1a6a","type":"ui_text","z":"8b7cf2f3.3413e","group":"97b09b67.6e92d8","order":5,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"e4c5ff2e.5c51b","type":"ui_audio","z":"8b7cf2f3.3413e","name":"","group":"97b09b67.6e92d8","voice":"en-GB","always":"","x":800,"y":300,"wires":[]},{"id":"97b09b67.6e92d8","type":"ui_group","z":"","name":"Chatbot","tab":"b7fe5d6e.18898","order":1,"disp":true,"width":"12","collapse":false},{"id":"b7fe5d6e.18898","type":"ui_tab","z":"","name":"Travel bot","icon":"dashboard","order":5,"disabled":false,"hidden":false}]