Helpdesk.json
[{"id":"f0d7a75f.2814b8","type":"tab","label":"Help Desk","disabled":false,"info":""},{"id":"d75e0844.23cbd8","type":"watson-conversation-v1","z":"f0d7a75f.2814b8","name":"Travel Bot","workspaceid":"a38980fa-747f-484e-8684-c781d5d21626","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7f8971bd-fbe5-4183-86c3-94c55353cec2","timeout":"","optout-learning":false,"x":450,"y":120,"wires":[["a2892fa9.6a851"]]},{"id":"fc6536e9.db1758","type":"inject","z":"f0d7a75f.2814b8","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["d75e0844.23cbd8"]]},{"id":"8a6aa543.18b1e8","type":"debug","z":"f0d7a75f.2814b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"a2892fa9.6a851","type":"function","z":"f0d7a75f.2814b8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["8a6aa543.18b1e8","204f0138.df986e","f296abb0.31da38"]]},{"id":"65e8de9a.b0977","type":"ui_form","z":"f0d7a75f.2814b8","name":"","label":"","group":"97b09b67.6e92d8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["b17b28ec.83f9b8"]]},{"id":"b17b28ec.83f9b8","type":"function","z":"f0d7a75f.2814b8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["d75e0844.23cbd8","acb87bd.a56bc88"]]},{"id":"acb87bd.a56bc88","type":"ui_text","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"204f0138.df986e","type":"ui_text","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"f296abb0.31da38","type":"ui_audio","z":"f0d7a75f.2814b8","name":"","group":"97b09b67.6e92d8","voice":"en-GB","always":"","x":800,"y":300,"wires":[]},{"id":"f1291565.7fd5e8","type":"ui_template","z":"f0d7a75f.2814b8","group":"97b09b67.6e92d8","name":"image","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n <iframe width=\"450\" height=\"450\"\nsrc=\"https://us.123rf.com/450wm/kahovsky/kahovsky1712/kahovsky171200043/91317699-stock-vector-cute-smiling-funny-robot-chat-bot-in-speech-bubble-vector-modern-flat-cartoon-character-illustration.jpg?ver=6\">\n</iframe> \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":200,"wires":[["8a6aa543.18b1e8"]]},{"id":"8c75d49d.37da18","type":"ui_template","z":"f0d7a75f.2814b8","group":"89ab4d8a.84107","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://blog.hyperfish.com/hubfs/Types%20of%20Bots.png\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":480,"wires":[["942c54a0.7bb5d8"]]},{"id":"942c54a0.7bb5d8","type":"debug","z":"f0d7a75f.2814b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":520,"wires":[]},{"id":"97b09b67.6e92d8","type":"ui_group","z":"","name":"Chatbot","tab":"b7fe5d6e.18898","order":1,"disp":true,"width":9,"collapse":false},{"id":"89ab4d8a.84107","type":"ui_group","z":"","name":"","tab":"b7fe5d6e.18898","order":1,"disp":false,"width":1,"collapse":false},{"id":"b7fe5d6e.18898","type":"ui_tab","z":"","name":"Travel bot","icon":"dashboard","order":5,"disabled":false,"hidden":false}]