Payment.json
[{"id":"71762c8c.074294","type":"tab","label":"Payment","disabled":false,"info":""},{"id":"11744fd2.bdd11","type":"ui_template","z":"71762c8c.074294","group":"d8a81e25.f0415","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<link rel=\"stylesheet\" href=\"Style.css\">\n</head>\n<body>\n<h2>Responsive Checkout Form</h2>\n<div class=\"row\">\n  <div class=\"col-75\">\n    <div class=\"container\">\n      <form action=\"/action_page.php\">\n      \n        <div class=\"row\">\n          <div class=\"col-50\">\n            <h3>Billing Address</h3>\n            <label for=\"fname\"><i class=\"fa fa-user\"></i> Full Name</label>\n            <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"John M. Doe\">\n            <label for=\"email\"><i class=\"fa fa-envelope\"></i> Email</label>\n            <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"john@example.com\">\n            <label for=\"adr\"><i class=\"fa fa-address-card-o\"></i> Address</label>\n            <input type=\"text\" id=\"adr\" name=\"address\" placeholder=\"542 W. 15th Street\">\n            <label for=\"city\"><i class=\"fa fa-institution\"></i> City</label>\n            <input type=\"text\" id=\"city\" name=\"city\" placeholder=\"New York\">\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"state\">State</label>\n                <input type=\"text\" id=\"state\" name=\"state\" placeholder=\"NY\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"zip\">Zip</label>\n                <input type=\"text\" id=\"zip\" name=\"zip\" placeholder=\"10001\">\n              </div>\n            </div>\n          </div>\n          <div class=\"col-50\">\n            <h3>Payment</h3>\n            <label for=\"fname\">Accepted Cards</label>\n            <div class=\"icon-container\">\n              <i class=\"fa fa-cc-visa\" style=\"color:navy;\"></i>\n              <i class=\"fa fa-cc-amex\" style=\"color:blue;\"></i>\n              <i class=\"fa fa-cc-mastercard\" style=\"color:red;\"></i>\n              <i class=\"fa fa-cc-discover\" style=\"color:orange;\"></i>\n            </div>\n            <label for=\"cname\">Name on Card</label>\n            <input type=\"text\" id=\"cname\" name=\"cardname\" placeholder=\"John More Doe\">\n            <label for=\"ccnum\">Card number</label>\n            <input type=\"text\" id=\"ccnum\" name=\"cardnumber\" placeholder=\"1111-2222-3333-4444\">\n            <label for=\"expmonth\">Exp Month</label>\n            <input type=\"text\" id=\"expmonth\" name=\"expmonth\" placeholder=\"September\">\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"expyear\">Exp Year</label>\n                <input type=\"text\" id=\"expyear\" name=\"expyear\" placeholder=\"2018\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"cvv\">CVV</label>\n                <input type=\"text\" id=\"cvv\" name=\"cvv\" placeholder=\"352\">\n              </div>\n            </div>\n          </div>\n          \n        </div>\n      </form>\n    </div>\n  </div>\n  <div class=\"col-25\">\n    <div class=\"container\">\n      \n    </div>\n  </div>\n</div>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":200,"wires":[["6c6ffb18.dac304"]]},{"id":"f1385d52.80757","type":"debug","z":"71762c8c.074294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"6c6ffb18.dac304","type":"function","z":"71762c8c.074294","name":"","func":"msg.payload=\"Payment successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["f1385d52.80757","bd34a641.0968c8","da8a742.027b088","be45b718.8ad018"]]},{"id":"bd34a641.0968c8","type":"ui_text","z":"71762c8c.074294","group":"d8a81e25.f0415","order":4,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":690,"y":300,"wires":[]},{"id":"8f7d80bc.bded4","type":"ui_form","z":"71762c8c.074294","name":"","label":"","group":"d8a81e25.f0415","order":2,"width":0,"height":0,"options":[{"label":"I Agree","value":"ff","type":"checkbox","required":true,"rows":null}],"formValue":{"ff":false},"payload":"","submit":"Continue to checkout","cancel":"cancel","topic":"","x":250,"y":320,"wires":[["6c6ffb18.dac304"]]},{"id":"da8a742.027b088","type":"ui_audio","z":"71762c8c.074294","name":"","group":"d8a81e25.f0415","voice":"en-GB","always":"","x":680,"y":380,"wires":[]},{"id":"be45b718.8ad018","type":"ui_toast","z":"71762c8c.074294","position":"bottom right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":680,"y":480,"wires":[]},{"id":"d8a81e25.f0415","type":"ui_group","z":"","name":"Payment section","tab":"68a77dc1.052a44","order":1,"disp":true,"width":"25","collapse":false},{"id":"68a77dc1.052a44","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","order":4,"disabled":false,"hidden":false}]