Registration form.json
[{"id":"11d3d280.4b3cce","type":"tab","label":"Registration","disabled":false,"info":""},{"id":"96e6272e.c1bc98","type":"ui_form","z":"11d3d280.4b3cce","name":"","label":"","group":"90e61c2e.f7ff4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"name","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null},{"label":"Remember me","value":"fd","type":"checkbox","required":false,"rows":null}],"formValue":{"name":"","password":"","fd":false},"payload":"","submit":"submit","cancel":"","topic":"","x":70,"y":120,"wires":[["3bd8705b.d462a"]]},{"id":"80b641f5.e229f","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"3bd8705b.d462a","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"Login successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["80b641f5.e229f","88d74a67.e97598","97aee88b.56a7c8"]]},{"id":"88d74a67.e97598","type":"ui_text","z":"11d3d280.4b3cce","group":"90e61c2e.f7ff4","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":350,"y":200,"wires":[]},{"id":"bdfef8e9.b2f648","type":"ui_form","z":"11d3d280.4b3cce","name":"","label":"","group":"72caf93f.ef9e28","order":1,"width":0,"height":0,"options":[{"label":"First Name","value":"name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"hh","type":"text","required":true,"rows":null},{"label":"Your mail","value":"dd","type":"email","required":true,"rows":null},{"label":"Phone no.","value":"fddsf","type":"number","required":true,"rows":null},{"label":"Password ","value":"dsf","type":"password","required":true,"rows":null},{"label":"Confirm Password","value":"dsfsgdf","type":"password","required":true,"rows":null}],"formValue":{"name":"","hh":"","dd":"","fddsf":"","dsf":"","dsfsgdf":""},"payload":"","submit":"Create Account","cancel":"","topic":"","x":110,"y":420,"wires":[["7e2de663.b3ec78"]]},{"id":"f24a345c.c50168","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":400,"wires":[]},{"id":"7e2de663.b3ec78","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"User Registration Successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["f24a345c.c50168","eb1e44cf.088368","4dbb0006.bae63"]]},{"id":"eb1e44cf.088368","type":"ui_text","z":"11d3d280.4b3cce","group":"72caf93f.ef9e28","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":410,"y":480,"wires":[]},{"id":"97aee88b.56a7c8","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"90e61c2e.f7ff4","voice":"en-GB","always":"","x":380,"y":260,"wires":[]},{"id":"4dbb0006.bae63","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"72caf93f.ef9e28","voice":"en-US","always":"","x":400,"y":560,"wires":[]},{"id":"35eeb4c7.e4696c","type":"ui_text_input","z":"11d3d280.4b3cce","name":"Source","label":"Enter Source","tooltip":"","group":"66a95763.8bad68","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":600,"y":80,"wires":[["d1c01d3e.e43b4"]]},{"id":"108861b4.7764ee","type":"ui_text_input","z":"11d3d280.4b3cce","name":"destination","label":"Enter Destination","tooltip":"","group":"66a95763.8bad68","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":610,"y":200,"wires":[["d1c01d3e.e43b4"]]},{"id":"71af7f00.2161c","type":"ui_date_picker","z":"11d3d280.4b3cce","name":"date","label":"date","group":"66a95763.8bad68","order":3,"width":0,"height":0,"passthru":false,"topic":"","x":610,"y":280,"wires":[["d1c01d3e.e43b4"]]},{"id":"d1c01d3e.e43b4","type":"ui_button","z":"11d3d280.4b3cce","name":"","group":"66a95763.8bad68","order":14,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"Yellow","bgcolor":"black","icon":"","payload":"78","payloadType":"num","topic":"","x":900,"y":220,"wires":[["be2723d6.c0887"]]},{"id":"529d65ec.af30bc","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City bus-151","value":"fd","type":"str"},{"label":"City bus-173","value":"fgf","type":"str"},{"label":"City bus-1075","value":"dhgj","type":"str"},{"label":"City bus-163","value":"gjg","type":"str"}],"payload":"","topic":"","x":610,"y":360,"wires":[["d1c01d3e.e43b4"]]},{"id":"be2723d6.c0887","type":"function","z":"11d3d280.4b3cce","name":"","func":"msg.payload=\"Selection successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":260,"wires":[["d9c8ea3a.d31908","e2f60b0a.50ec38","ebaa46ff.7120e8"]]},{"id":"d9c8ea3a.d31908","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":15,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":1250,"y":320,"wires":[]},{"id":"e2f60b0a.50ec38","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":120,"wires":[]},{"id":"ebaa46ff.7120e8","type":"ui_audio","z":"11d3d280.4b3cce","name":"","group":"66a95763.8bad68","voice":"en-GB","always":"","x":1240,"y":440,"wires":[]},{"id":"853371f8.c54a8","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":4,"width":0,"height":0,"name":"","label":"Public Bus","format":"","layout":"row-left","x":650,"y":460,"wires":[]},{"id":"afcd409b.7c51","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":8,"width":0,"height":0,"name":"","label":"Private Bus","format":"","layout":"row-left","x":650,"y":520,"wires":[]},{"id":"590a993c.ea7388","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":12,"width":0,"height":0,"name":"","label":"Mini-Van","format":"","layout":"row-left","x":660,"y":600,"wires":[]},{"id":"cb20297b.07ace8","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Compass Bus","value":"gfg","type":"str"},{"label":"Evergreen Escapes","value":"dfgdg","type":"str"},{"label":"Journey Lines","value":"gdghd","type":"str"}],"payload":"","topic":"","x":890,"y":460,"wires":[["d1c01d3e.e43b4"]]},{"id":"78a1dbe7.e7d804","type":"ui_dropdown","z":"11d3d280.4b3cce","name":"","label":"Available vehicles","tooltip":"","place":"Select option","group":"66a95763.8bad68","order":13,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Hyundai","value":"fghfg","type":"str"},{"label":"Omni ","value":"fdfd","type":"str"},{"label":"Kia","value":"htght","type":"str"}],"payload":"","topic":"","x":890,"y":540,"wires":[["d1c01d3e.e43b4"]]},{"id":"372665a.8f0f59a","type":"ui_text","z":"11d3d280.4b3cce","group":"e52c7b81.86deb8","order":1,"width":0,"height":0,"name":"","label":"OR","format":"","layout":"col-center","x":110,"y":300,"wires":[]},{"id":"c9e7b5e9.831978","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":7,"width":0,"height":0,"name":"","label":"OR","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":580,"wires":[]},{"id":"1c1b5abd.fd7405","type":"ui_text","z":"11d3d280.4b3cce","group":"66a95763.8bad68","order":11,"width":0,"height":0,"name":"","label":"Or","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":620,"wires":[]},{"id":"a23a21f8.3c0cd","type":"ui_template","z":"11d3d280.4b3cce","group":"4f6fcf5b.a8729","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://images.unsplash.com/photo-1520105072000-f44fc083e508?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":640,"wires":[["8fc8e21e.d43a5"]]},{"id":"4d2973e4.2f54bc","type":"ui_template","z":"11d3d280.4b3cce","group":"dadc2d10.a47ed","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://i.pinimg.com/originals/66/6e/01/666e011d44d894787020abb64e441118.jpg\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":660,"wires":[["5317699f.864278"]]},{"id":"8fc8e21e.d43a5","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":780,"wires":[]},{"id":"5317699f.864278","type":"debug","z":"11d3d280.4b3cce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"90e61c2e.f7ff4","type":"ui_group","z":"","name":"Login","tab":"cbf00de7.58bb3","order":3,"disp":true,"width":"8","collapse":false},{"id":"72caf93f.ef9e28","type":"ui_group","z":"","name":"Sign-up","tab":"cbf00de7.58bb3","order":1,"disp":true,"width":"8","collapse":false},{"id":"66a95763.8bad68","type":"ui_group","z":"","name":"Vehicle Selection","tab":"e6154d48.6d143","order":1,"disp":true,"width":"10","collapse":false},{"id":"e52c7b81.86deb8","type":"ui_group","z":"","name":"","tab":"cbf00de7.58bb3","order":2,"disp":true,"width":2,"collapse":false},{"id":"4f6fcf5b.a8729","type":"ui_group","z":"","name":"","tab":"cbf00de7.58bb3","order":4,"disp":false,"width":1,"collapse":false},{"id":"dadc2d10.a47ed","type":"ui_group","z":"","name":"","tab":"e6154d48.6d143","order":1,"disp":false,"width":1,"collapse":false},{"id":"cbf00de7.58bb3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6154d48.6d143","type":"ui_tab","z":"","name":"Vehicle Selection","icon":"dashboard","order":2,"disabled":false,"hidden":false}]