Registration.json
[{"id":"5fbfe3e5.1d130c","type":"tab","label":"Registration","disabled":false,"info":""},{"id":"acbed7f0.940488","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"90e61c2e.f7ff4","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"name","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","password":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":70,"y":140,"wires":[["8c37d627.f5f7b8"]]},{"id":"334859f0.2a4676","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":60,"wires":[]},{"id":"8c37d627.f5f7b8","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Login successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["334859f0.2a4676","2219af3b.aae52","55d1c32a.7465ec"]]},{"id":"2219af3b.aae52","type":"ui_text","z":"5fbfe3e5.1d130c","group":"90e61c2e.f7ff4","order":4,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":350,"y":200,"wires":[]},{"id":"57f7f3f4.5bc3ec","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"ab8ce4fe.8ad168","order":1,"width":0,"height":0,"options":[{"label":"Public Bus","value":"name","type":"checkbox","required":true,"rows":null},{"label":"Private Bus","value":"tick","type":"checkbox","required":true,"rows":null},{"label":"Mini van","value":"number","type":"checkbox","required":true,"rows":null}],"formValue":{"name":false,"tick":false,"number":false},"payload":"","submit":"submit","cancel":"reset","topic":"","x":550,"y":60,"wires":[["c5032de8.3e6a1"]]},{"id":"66f57026.cf36a","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":40,"wires":[]},{"id":"c5032de8.3e6a1","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Successfully Selected!!\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["a546080d.bac208","66f57026.cf36a","9137863d.a64618"]]},{"id":"a546080d.bac208","type":"ui_text","z":"5fbfe3e5.1d130c","group":"ab8ce4fe.8ad168","order":4,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":890,"y":160,"wires":[]},{"id":"96ffdded.de902","type":"ui_form","z":"5fbfe3e5.1d130c","name":"","label":"","group":"72caf93f.ef9e28","order":1,"width":0,"height":0,"options":[{"label":"First Name","value":"name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"hh","type":"text","required":true,"rows":null},{"label":"Address","value":"gg","type":"text","required":true,"rows":null},{"label":"Mobile Number","value":"number","type":"number","required":true,"rows":null},{"label":"E-mail","value":"mail","type":"email","required":true,"rows":null},{"label":"ID Proof","value":"fhg","type":"text","required":true,"rows":null},{"label":"From","value":"g","type":"text","required":true,"rows":null},{"label":"To","value":"t","type":"text","required":true,"rows":null},{"label":"Date of Travel","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","hh":"","gg":"","number":"","mail":"","fhg":"","g":"","t":"","date":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":150,"y":420,"wires":[["b0e779d6.b600b8"]]},{"id":"cd2bfdfd.5737c","type":"debug","z":"5fbfe3e5.1d130c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"b0e779d6.b600b8","type":"function","z":"5fbfe3e5.1d130c","name":"","func":"msg.payload=\"Registration Successfull!!\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["cd2bfdfd.5737c","4974e86a.273028","4a0dd8f3.e99268"]]},{"id":"4974e86a.273028","type":"ui_text","z":"5fbfe3e5.1d130c","group":"72caf93f.ef9e28","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":470,"y":520,"wires":[]},{"id":"55d1c32a.7465ec","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"90e61c2e.f7ff4","voice":"en-GB","always":"","x":380,"y":260,"wires":[]},{"id":"9137863d.a64618","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"ab8ce4fe.8ad168","voice":"en-GB","always":"","x":940,"y":260,"wires":[]},{"id":"4a0dd8f3.e99268","type":"ui_audio","z":"5fbfe3e5.1d130c","name":"","group":"72caf93f.ef9e28","voice":"en-US","always":"","x":460,"y":620,"wires":[]},{"id":"90e61c2e.f7ff4","type":"ui_group","z":"","name":"Login","tab":"cbf00de7.58bb3","order":1,"disp":true,"width":"9","collapse":false},{"id":"ab8ce4fe.8ad168","type":"ui_group","z":"","name":"Transportation","tab":"e6154d48.6d143","order":1,"disp":true,"width":"10","collapse":false},{"id":"72caf93f.ef9e28","type":"ui_group","z":"","name":"User details","tab":"d55ef5a.efd8508","order":1,"disp":true,"width":"9","collapse":false},{"id":"cbf00de7.58bb3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e6154d48.6d143","type":"ui_tab","z":"","name":"Vehicle Registration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d55ef5a.efd8508","type":"ui_tab","z":"","name":"Registration Details","icon":"dashboard","order":3,"disabled":false,"hidden":false}]