Seat Allocation.json
[{"id":"fb6e9671.114338","type":"tab","label":"Seat Allocation","disabled":false,"info":""},{"id":"83581af7.4925d8","type":"ui_button","z":"fb6e9671.114338","name":"","group":"3849d40.7536f2c","order":1,"width":0,"height":0,"passthru":true,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"31","payloadType":"num","topic":"","x":180,"y":80,"wires":[["a1067bd5.2f2d38"]]},{"id":"a1067bd5.2f2d38","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"3849d40.7536f2c","order":2,"width":6,"height":4,"gtype":"gage","title":"Public-bus","label":"","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#00e622","#e04815"],"seg1":"","seg2":"","x":470,"y":80,"wires":[]},{"id":"b2af5122.2f92b","type":"ui_button","z":"fb6e9671.114338","name":"","group":"7af3d7be.70bcd8","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"36","payloadType":"str","topic":"","x":800,"y":120,"wires":[["4b0c72b1.ff96fc"]]},{"id":"4b0c72b1.ff96fc","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"7af3d7be.70bcd8","order":2,"width":0,"height":0,"gtype":"gage","title":"Private-bus","label":"","format":"{{value}}","min":0,"max":"59","colors":["#00b500","#e2e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":160,"wires":[]},{"id":"5fbdf54c.dd963c","type":"ui_button","z":"fb6e9671.114338","name":"","group":"ce804f1f.a002d","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"num","topic":"","x":200,"y":200,"wires":[["34ae430.f3884be"]]},{"id":"34ae430.f3884be","type":"ui_gauge","z":"fb6e9671.114338","name":"","group":"ce804f1f.a002d","order":2,"width":0,"height":0,"gtype":"gage","title":"Mini-van","label":"","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#a30f0f","#3a57cb"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"30103d32.bb3322","type":"ui_template","z":"fb6e9671.114338","group":"3b102398.9301ec","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<p>Seat Picker</p> \n\n<button onclick=\"myFunction()\">Book seat number</button>\n\n<p id=\"demo\"></p>\n\n<script>\nfunction myFunction() {\n  var ele = document.getElementById(\"demo\");\n  var number = Math.floor((Math.random() * 100) + 1);\n  ele.innerHTML = number\n\n  if (number%2==0) {\n    alert(\"Even Number\");\n  }\n  else {\n    alert(\"Odd Number\");\n  }\n}\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":360,"y":340,"wires":[["9a61b7e4.0a59f8"]]},{"id":"9a61b7e4.0a59f8","type":"ui_button","z":"fb6e9671.114338","name":"","group":"3b102398.9301ec","order":2,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Given seat number has been alloted!!","payloadType":"str","topic":"","x":580,"y":360,"wires":[["8374e652.86fe48","b71d4169.73848","a9016360.7f7b9"]]},{"id":"8374e652.86fe48","type":"ui_text","z":"fb6e9671.114338","group":"3b102398.9301ec","order":4,"width":7,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":890,"y":400,"wires":[]},{"id":"a9016360.7f7b9","type":"ui_audio","z":"fb6e9671.114338","name":"","group":"3b102398.9301ec","voice":"en-GB","always":"","x":860,"y":480,"wires":[]},{"id":"b71d4169.73848","type":"debug","z":"fb6e9671.114338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":320,"wires":[]},{"id":"13b36970.dda227","type":"ui_template","z":"fb6e9671.114338","group":"9561f039.e4e4","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://miro.medium.com/max/1804/0*Y_uqYGceuDNK5I7j.\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100%;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":500,"wires":[["5239a92b.1073d8"]]},{"id":"5239a92b.1073d8","type":"debug","z":"fb6e9671.114338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":540,"wires":[]},{"id":"3849d40.7536f2c","type":"ui_group","z":"","name":"Public Bus","tab":"276f946f.3cde3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7af3d7be.70bcd8","type":"ui_group","z":"","name":"Private-bus","tab":"276f946f.3cde3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce804f1f.a002d","type":"ui_group","z":"","name":"Mini-van","tab":"276f946f.3cde3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3b102398.9301ec","type":"ui_group","z":"","name":"Seat Allocation","tab":"276f946f.3cde3c","order":5,"disp":true,"width":18,"collapse":false},{"id":"9561f039.e4e4","type":"ui_group","z":"","name":"","tab":"276f946f.3cde3c","order":4,"disp":false,"width":1,"collapse":false},{"id":"276f946f.3cde3c","type":"ui_tab","z":"","name":"Seat Selection","icon":"dashboard","order":3,"disabled":false,"hidden":false}]