Seat Allocation.json
[{"id":"3ffdc51d.c1c11a","type":"tab","label":"Seat Allocation","disabled":false,"info":""},{"id":"e753e924.c49ab8","type":"ui_button","z":"3ffdc51d.c1c11a","name":"","group":"3849d40.7536f2c","order":1,"width":0,"height":0,"passthru":true,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"51","payloadType":"num","topic":"","x":200,"y":200,"wires":[["24441eb1.bf8c42"]]},{"id":"24441eb1.bf8c42","type":"ui_gauge","z":"3ffdc51d.c1c11a","name":"","group":"3849d40.7536f2c","order":2,"width":6,"height":5,"gtype":"wave","title":"Public-bus","label":"seats","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":200,"wires":[]},{"id":"37640bf5.2f6fe4","type":"ui_button","z":"3ffdc51d.c1c11a","name":"","group":"7af3d7be.70bcd8","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"62","payloadType":"str","topic":"","x":200,"y":300,"wires":[["6e6a44ed.bfba2c"]]},{"id":"6e6a44ed.bfba2c","type":"ui_gauge","z":"3ffdc51d.c1c11a","name":"","group":"7af3d7be.70bcd8","order":2,"width":0,"height":0,"gtype":"wave","title":"Private-bus","label":"seats","format":"seats","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":300,"wires":[]},{"id":"649bbb08.5524b4","type":"ui_button","z":"3ffdc51d.c1c11a","name":"","group":"ce804f1f.a002d","order":1,"width":0,"height":0,"passthru":false,"label":"Click here to see available seats.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":200,"y":380,"wires":[["659d7c2f.c69074"]]},{"id":"659d7c2f.c69074","type":"ui_gauge","z":"3ffdc51d.c1c11a","name":"","group":"ce804f1f.a002d","order":2,"width":0,"height":0,"gtype":"wave","title":"Mini-van","label":"seats","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":380,"wires":[]},{"id":"44430c0a.e0e754","type":"ui_form","z":"3ffdc51d.c1c11a","name":"","label":"Transport Selection","group":"d535c42e.a7a358","order":1,"width":0,"height":0,"options":[{"label":"public bus","value":"hgvb","type":"checkbox","required":true,"rows":null},{"label":"private bus","value":"sd","type":"checkbox","required":true,"rows":null},{"label":"mini-van","value":"sdf","type":"checkbox","required":true,"rows":null},{"label":"date","value":"dd","type":"date","required":true,"rows":null}],"formValue":{"hgvb":false,"sd":false,"sdf":false,"dd":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":170,"y":540,"wires":[["a048059b.506db8"]]},{"id":"c4908297.cd395","type":"ui_text","z":"3ffdc51d.c1c11a","group":"d535c42e.a7a358","order":3,"width":5,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":490,"y":620,"wires":[]},{"id":"a048059b.506db8","type":"function","z":"3ffdc51d.c1c11a","name":"","func":"msg.payload=\"Vehicle is selected!!\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["c4908297.cd395","30048420.4953bc","b10c3c17.ad26a"]]},{"id":"30048420.4953bc","type":"debug","z":"3ffdc51d.c1c11a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"cf1476dd.541df8","type":"ui_template","z":"3ffdc51d.c1c11a","group":"2db108b2.601c38","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<p>Seat Picker</p> \n\n<button onclick=\"myFunction()\">Book seat number</button>\n\n<p id=\"demo\"></p>\n\n<script>\nfunction myFunction() {\n  var ele = document.getElementById(\"demo\");\n  var number = Math.floor((Math.random() * 100) + 1);\n  ele.innerHTML = number\n\n  if (number%2==0) {\n    alert(\"Even Number\");\n  }\n  else {\n    alert(\"Odd Number\");\n  }\n}\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":780,"wires":[["2bde1bbb.baa264"]]},{"id":"2bde1bbb.baa264","type":"ui_button","z":"3ffdc51d.c1c11a","name":"","group":"2db108b2.601c38","order":1,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Given seat number has been alloted!!","payloadType":"str","topic":"","x":450,"y":800,"wires":[["63ebe7d2.5369b8","2e64977e.9f4fa8","7230436e.50bb6c"]]},{"id":"63ebe7d2.5369b8","type":"ui_text","z":"3ffdc51d.c1c11a","group":"2db108b2.601c38","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":610,"y":900,"wires":[]},{"id":"7230436e.50bb6c","type":"ui_audio","z":"3ffdc51d.c1c11a","name":"","group":"2db108b2.601c38","voice":"en-GB","always":"","x":540,"y":960,"wires":[]},{"id":"b10c3c17.ad26a","type":"ui_audio","z":"3ffdc51d.c1c11a","name":"","group":"d535c42e.a7a358","voice":"en-GB","always":"","x":500,"y":680,"wires":[]},{"id":"2e64977e.9f4fa8","type":"debug","z":"3ffdc51d.c1c11a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":840,"wires":[]},{"id":"3849d40.7536f2c","type":"ui_group","z":"","name":"Public Bus","tab":"df626a58.bc90f8","order":1,"disp":true,"width":6,"collapse":false},{"id":"7af3d7be.70bcd8","type":"ui_group","z":"","name":"Private-bus","tab":"df626a58.bc90f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce804f1f.a002d","type":"ui_group","z":"","name":"Mini-van","tab":"df626a58.bc90f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d535c42e.a7a358","type":"ui_group","z":"","name":"Vehicle selection","tab":"df626a58.bc90f8","order":4,"disp":true,"width":10,"collapse":false},{"id":"2db108b2.601c38","type":"ui_group","z":"","name":"Seat Allocation","tab":"df626a58.bc90f8","order":5,"disp":true,"width":10,"collapse":false},{"id":"df626a58.bc90f8","type":"ui_tab","z":"","name":"Seat Selection","icon":"dashboard","disabled":false,"hidden":false}]